<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->


<p th:replace="~{fragments :: listing-jobs}"></p>
<!--  <th:block th:each="jobs : ${jobs}">-->
<!--    <table class="job-listing">-->
<!--      <tr>-->
<!--      <td>ID</td>-->
<!--      <td th:text="${jobs.id}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Name</td>-->
<!--      <td th:text="${jobs.name}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Employer</td>-->
<!--      <td th:text="${jobs.getEmployer.getValue()}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Location</td>-->
<!--      <td th:text="${jobs.getLocation.getValue()}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Position Type</td>-->
<!--      <td th:text="${jobs.getPositionType.getValue()}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Skill</td>-->
<!--      <td th:text="${jobs.getCoreCompetency.getValue()}"></td>-->
<!--    </tr>-->
<!--    </table>-->
<!--  </th:block>-->




</div>

</body>
</html>